<h2>Products</h2>
<ul>
<% @products.each do |product| %>
    <li>
        <a href='<%= product.url %>'><%= product.title %></a>
    </li>
<% end %>
</ul>

<h2>Blog</h2>
<ul>
<% @blog_items.each do |item| %>
    <li>
        <a href='<%= item.link %>'><%= item.title %></a>
    </li>
<% end %>
</ul>

<h2>Qiita</h2>
<ul>
<% @qiita_items.each do |item| %>
    <li>
        <a href='<%= item["url"] %>'><%= item['title'] %></a>
    </li>
<% end %>
</ul>

<h2>More</h2>
<ul>
    <li><a href='https://twitter.com/genya0407'>@genya0407(Twitter)</a></li>
    <li><a href='https://github.com/genya0407'>@genya0407(Github)</a></li>
    <li><a href='http://dawn.hateblo.jp/'>さんちゃのblog</a></li>
    <li><a href='https://gist.github.com/genya0407/24fb3aa89ea8229bd7eaac1f62830c0c'>Favs</a></li>
</ul>
